/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/ckeditor_wiris/wiris/cache
/public/ckeditor_wiris/wiris/formulas
/public/uploads/import_students
/public/uploads/upload_documents
/public/ckfinder/userfiles/images
/public/ckfinder/userfiles/files
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
